html,
body {
	padding: 0;
	margin: 0;
	background: transparent;
	width: 100%;
	height: 100%;
}

/* Use OS default fonts */
body {
	font-family: -apple-system,
		BlinkMacSystemFont,
		'Segoe UI',
		Roboto,
		Oxygen-Sans,
		Ubuntu,
		Cantarell,
		'Helvetica Neue',
		sans-serif,
		'Apple Color Emoji',
		'Segoe UI Emoji',
		'Segoe UI Symbol';
	text-rendering: optimizeLegibility;
	font-feature-settings: 'liga', 'clig', 'kern';
}

#layout, #grid {
	height: 100%;
	width: 100%;
}

.horizonLine {
	width: 100%;
	height: 1px;
	margin-top: 5px;
	margin-bottom: 5px;
	border-bottom: #d8dee7 solid 1px;
}
